*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f1f1f1;
}
html{
  scroll-behavior: smooth;
}
.nav {
  height: 0;
  width: 100%;
  position: fixed; 
  z-index: 100; 
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.9); 
  overflow-x: hidden;
  transition: 0.5s; 
}
.nav-content {
  position: relative;
  top: 25%; 
  width: 100%; 
  text-align: center; 
  margin-top: 30px; 
}
.nav a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; 
  transition: 0.3s; 
}
.nav a:hover, .nav a:focus {
  color: #f1f1f1;
}
.nav .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .nav a {font-size: 20px}
  .nav .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.fa-bars{
  cursor: pointer;
  font-size: 40px;
  margin-left: 30px;
  margin-top: 50%;
  transform: translateY(-50%);
}
.logo{
  font-family: Monoton, sans-serif;
  font-size: 40px;
  text-align: right;
  float: right;
  margin-left: calc(90% - 300px);
  margin-right: 70px;
  font-weight: 400;
}
.bar{
  display: flex;
  padding: 10px;
  height: 100%;
  border-bottom: 2px solid #333;
  opacity: 0.9;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 10px 10px 10px #333;
  background-color: #f1f1f1;
}
.fixed{
  width: 100%;
  position: fixed;
  z-index: 99;
}
#home{
  width: 100%;
  height: 100vh;
}
.content{
  position: absolute;
  height: 10vh;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
.welcome{
  font-family: Poppins, sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #333;
}
.mode{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  padding: 20px;
  font-size: 25px;
  margin-right: 30px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0px 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #333;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #333;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #333;
  border: 1px solid #f1f1f1;
}
input:checked + .slider:before {
  background-color: #f1f1f1;
}
input:checked  .fa-sun {
  color: #f1f1f1;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
#books {
  width: 100%;
  height: 100vh;
  top: 100vh;
}
.Title{
  text-align: center;
  margin: 100px;
  font-size: 38px;
  font-family: 'Poppins', sans-serif;
  color: #333;
}
.book{
  display: flex;
  flex-direction: column;
}
.bookImg{
  margin: 20px;
  border-radius: 5px;
}
.booksGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 0 50px;
  color: #333;
}
.bookInfo{
  margin: 0 20px 20px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
.downloadBook{
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 10px 40px;
  margin: 0 20px 20px;
  background-color: #333;
  color: #f1f1f1;
  border: 2px solid #f1f1f1;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.downloadBook:hover{
  color: #333;
  background-color: #f1f1f1;
  border: 2px solid #333;
}
#sites{
  width: 100%;
  height: 100vh;
  padding: 200px 0;
}
.sitesList{
  margin: auto;
  border: 2px solid #333;
  padding: 20px;
  color: #333;
}
.th {
  padding: 20px;
  font-size: 24px;
  border-bottom: 2px solid #333;
  font-family: 'Poppins', sans-serif;
}
.siteName{
  font-size: 20px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  border-bottom: 2px solid #333;
}
.siteLink{
  font-size: 20px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  border-bottom: 2px solid #333;
  text-decoration: none;
  color: #a3a3a3;
}
.siteDesc{
  font-size: 20px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  border-bottom: 2px solid #333;
}
.contact-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  grid-gap: 50px;
  margin: 70px;
}
.form-item{
  border: 2px solid #333;
  background-color: #f1f1f1;
  color: #333;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 10px;
}
textarea{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;
  height: 100% !important;
}
.btn{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  background-color: #333;
  color: #f1f1f1;
  border: 2px solid #f1f1f1;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding: 10px;
}
.btn:hover{
  color: #333;
  background-color: #f1f1f1;
  border: 2px solid #333;
}
